::-webkit-scrollbar {
    width: 0 !important;
  }
  ::-webkit-scrollbar {
    width: 0 !important;
    height: 0;
  }
  a {
    color: #fff;
  }
  .right_center {
    width: 100%;
    height: 100%;
  
    .right_center_item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      padding: 10px;
      font-size: 14px;
      color: #fff;
  
      .orderNum {
        margin: 0 20px 0 -20px;
      }
  
      .inner_right {
        position: relative;
        height: 100%;
        width: 400px;
        flex-shrink: 0;
        line-height: 1.5;
  
        .dibu {
          position: absolute;
          height: 2px;
          width: 104%;
          background: #d3dce6;
          background-size: cover;
          background-position: center center;
          bottom: -12px;
          left: -2%;
          background-size: cover;
        }
      }
  
      .info {
        margin-right: 10px;
        display: flex;
     
        align-items: center;
  
        .labels {
          flex-shrink: 0;
          font-size: 12px;
          color: rgb(255, 255, 255);
        }
  
        .zhuyao {
          font-size: 15px;
        }
  
        .ciyao {
          color: rgba(255, 255, 255, 0.8);
        }
  
        .warning {
          color: #e6a23c;
          font-size: 15px;
        }
      }
    }
  }
  
  .right_center_wrap {
    overflow: hidden;
    width: 100%;
    height: 500px;
  }
  
  .overflow-y-auto {
    overflow-y: auto;
  }