<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.conpanyMapper">
    <update id="addPraise">

        UPDATE conpanycontent set praiseNum=praiseNum+1  <where>
        <if test="rateID!=null and rateID!='' ">
            and rateID =#{rateID}
        </if>
    </where>
    </update>

    <select id="getTipsByConpanyName" resultType="com.example.server.model.view.conpany.seacherConpanyNmae">
        select DISTINCT   conpanyName,provice,jobNum from conpany   where  MATCH (conpanyName) AGAINST (#{key} in boolean mode) LIMIT 10
    </select>
    <select id="getConpanyAndRate" resultType="com.example.server.model.entity.conpany" statementType="CALLABLE">

        {call getPagingConpany(#{start,mode=IN},#{end,mode=IN})}
    </select>
    <select id="getConpantCount" resultType="java.lang.Integer">
        select  count(id) as count from conpany
    </select>
    <select id="getSearchByconpanyName" resultType="com.example.server.model.entity.conpany"  statementType="CALLABLE">
        {call getSearchKeyByConpanyName(#{keyword,mode=IN},#{start,mode=IN},#{end,mode=IN})}
    </select>
    <select id="getSearchCount" resultType="java.lang.Integer">

        SELECT count(id) as count from conpany WHERE   conpanyName like CONCAT('%',#{keyword},'%')
    </select>
    <select id="getConpanyInfo" resultType="com.example.server.model.entity.conpany">

        SELECT conpanyID,conpanyName,jobNum,conpanyIndustry ,praiseNum,conpanyCharacter,provice,conpanySize,createTime from conpany <where>
        <if test="conpanyID!=null and conpanyID!='' ">
            and conpanyID =#{conpanyID}
        </if> and conpanyShow="1" and delTag="1"
    </where>
    </select>
    <select id="getJobByConpanyId" resultType="com.example.server.model.entity.Position">
        SELECT jobID,tag,publishData,images,interestedNum,wage,description,wekare,url,kind,addressUrl from position
        <where>
        <if test="conpanyID!=null and conpanyID!='' ">
            and conpanyID =#{conpanyID}
        </if>  and positionshow='1' and delTag="1"
        </where>LIMIT #{start},#{end}
    </select>
    <select id="getConpanyContentByConpanyID" resultType="com.example.server.model.entity.conpanycontent">

        SELECT rateID,content,rate,userID,userID,userName,createTime,praiseNum from conpanycontent  <where>
        <if test="conpanyID!=null and conpanyID!='' ">
            and conpanyID =#{conpanyID}
        </if> and rateShow="1" and delTag="1"
    </where> LIMIT 0,10
    </select>
    <select id="getConpanContentCount" resultType="com.example.server.model.view.conpany.conpanContentCount">
        SELECT count(id) as count ,sum(rate)as rateSum  from conpanycontent <where>
        <if test="conpanyID!=null and conpanyID!='' ">
            and conpanyID =#{conpanyID}
        </if> and rateShow="1" and delTag="1"
    </where>
    </select>
    <select id="getConpanyContentByConpanyIDPage" resultType="com.example.server.model.entity.conpanycontent">
        SELECT rateID,content,rate,userID,userID,userName,createTime,praiseNum from conpanycontent  <where>
        <if test="conpanyID!=null and conpanyID!='' ">
            and conpanyID =#{conpanyID}
        </if> and rateShow="1" and delTag="1"
    </where> LIMIT #{start},#{end}
    </select>

</mapper>